/* body::before {
    background: url('background.jpg');
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
    z-index: 0;
    opacity: 1;
} */

img{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.69;
    height: 70%;
    width: 100%;
}